<footer class="container-fluid footer">
    <div class="row fter">
        <div class="col">
            <div class="d-flex justify-content-end">
                <h1 class="mb-0 mr-auto">PWEEL</h1>
                <img src="/images/logo-multimedia.png" width="40" height="40" class="mt-2 mr-2">
                <div class="vl2 hidden-sm-down"></div>
                <img src="/images/umilitar-logo.png" width="60" height="50">
            </div>
            <small>COPYRIGHT © 2019 Prohibida su reproducción total o parcial, así como su traducción a cualquier idioma
                sin autorización escrita de su titular. pweel.com es un proyecto de la materia de Tecnologias del
                Internet UMNG. <a href="#" class="link text-muted"><strong>Aviso de privacidad</strong></a> </small>
            <br />
            <i class="fab fa-dochub"></i>
            <a href="#" class="link small text-muted"><strong>Términos y condiciones</strong></a>
        </div>
    </div>
</footer>