<nav class="navbar navbar-expand-md navbar-dark">
    <div class="container-fluid ">

        <!-- Marca o logo de la empresa -->
        <a href="/" class="navbar-brand">
            <h1>PWEEL</h1>
        </a>

        <!-- Añadir boton con icono de menu-hamburguesa -->
        <button class="navbar-toggler navbar-toggler-right" data-toggle="collapse" data-target="#menu-principal"
            aria-controls="menu-principal" aria-expanded="false" aria-label="Menu">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Menu de navegacion -->
        <div class="collapse navbar-collapse" id="menu-principal">
            <ul class="navbar-nav ml-auto text-right">
                <li class="nav-item">
                    <a href="/trabajos" class="nav-link">
                        <i class='fas fa-hammer'></i> TRABAJOS
                    </a>
                </li>
                <p class="mb-0 mt-2 text-white-50 d-sm-none d-none d-lg-block d-md-block d-xl-block">/</p>
                {{#if login}}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-user"></i> CUENTA
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    
                            <a class="dropdown-item" href="/user/cv">Perfil</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/user/logout">Salir</a>
                    
                        </div>
                    </li>
                {{else}}
                    <li class="nav-item">
                        <a href="/user/iniciarsesion" class="nav-link">
                            <i class='fas fa-hammer'></i> INICIAR SESIÓN
                        </a>
                    </li>
                {{/if}}
                
            </ul>
        </div>
    </div>
</nav>