<section style="background-image: url(/images/Home.JPG); background-size:cover;  color:white; "
    class="d-flex flex-column align-items-center justify-content-between img img-md img-lg img-xl">

    <div class="container-fluid sect">
        <div class="row d-flex flex-column align-items-center text-center ">
            <div class="col-12 col-lg-9 m-3 bg-light " style="height:2px;"> </div>
            <h1 class=" col-12  col-lg-9 titulo titulo-md titulo-lg titulo-xl ">Portal web de Empleo informal en Linea
            </h1>
            <div class="col-12 col-lg-9 m-3 bg-light" style="height:2px;"></div>
            <h5 class="col-12 p-3" style="font-size: 1.4em">Formalizar un acuerdo d empleo entre postulantes y
                empleadores
                en areas de empleo tradicionalmete informal.
            </h5>

        </div>
    </div>
    <div></div>
</section>

<section class="container bg-light p-md-4 gris" style="background-color:rgb(140, 140, 150)">
    <div class="row d-none d-lg-flex">
        <div class="media d-flex  flex-wrap col-12 col-lg-6">
            <img class="align-items-center p-3" src="/images/contrato.png" alt="" style="width:8em">
            <div class="media-body p-2 flex-grow-1">
                <h4 style="color:rgb(255,165,0)">Formalice su acuerdo de empleo</h4>
                <h6> Casos resueltos con éxito</h6>
            </div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Doloremque optio praesentium,
            </p>
        </div>

        <div class="media d-flex  flex-wrap col-12 col-lg-6">
            <img class="align-items-center p-3" src="/images/contrato.png" alt="" style="width:8em">
            <div class="media-body p-2 flex-grow-1">
                <h4 style="color:rgb(255,165,0)">Derecho laboral</h4>
                <h6> Proteccion al trabajador</h6>
            </div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Doloremque optio praesentium,
            </p>
        </div>

        <div class="media d-flex  flex-wrap col-12 col-lg-6">
            <img class="align-items-center p-3" src="/images/contrato.png" alt="" style="width:8em">
            <div class="media-body p-2 flex-grow-1">
                <h4 style="color:rgb(255,165,0)">Mejore sus prestaciones sociales</h4>
                <h6>Derecho matrimonial</h6>
            </div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Doloremque optio praesentium,
            </p>
        </div>
        <div class=" media d-flex flex-wrap col-12 col-lg-6">
            <img class="align-items-center p-3" src="/images/contrato.png" alt="" style="width:8em">
            <div class="media-body p-2 flex-grow-1">
                <h4 style="color:rgb(255,165,0)">Intermediador entre postulantes y empleadores</h4>
                <h6>Protgiendo a las comunidades</h6>
            </div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Doloremque optio praesentium,
            </p>
        </div>

    </div>

    <div class="row d-lg-none d-lg-flex p-5 ">
        <div class="row d-flex justify-content-between d-lg-none ">

            <div class="media d-flex align-items-center col-12">
                <img class="align-items-center p-3" src="/images/contrato.png" alt="" style="width:10em">
                <div class="media-body p-2">
                    <h4 class="media-head " style="color:rgb(255,165,0)">Formalice su acuerdo de empleo</h4>
                    <h6> Casos resueltos con éxito</h6>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque optio praesentium,
                    </p>
                </div>
            </div>

            <div class="media d-flex align-items-center col-12">
                <img class="align-items-center p-3" src="/images/contrato.png" alt="" style="width:10em">
                <div class="media-body p-2">
                    <h4 style="color:rgb(255,165,0)">Mejore sus prestaciones sociales</h4>
                    <h6>Derecho matrimonial</h6>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque optio praesentium,
                    </p>
                </div>
            </div>

            <div class=" media d-flex align-items-center col-12">
                <img class="align-items-center p-3" src="/images/contrato.png" alt="" style="width:10em">
                <div class="media-body p-2">
                    <h4 class="media-head " style="color:rgb(255,165,0)">Formalice su acuerdo de empleo</h4>
                    <h6> Casos resueltos con éxito</h6>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque optio praesentium,
                    </p>
                </div>
            </div>

            <div class="media d-flex align-items-center col-12">
                <img class="align-items-center p-3" src="/images/contrato.png" alt="" style="width:10em">
                <div class="media-body p-2">
                    <h4 style="color:rgb(255,165,0)">Intermediador entre postulantes y empleadores</h4>
                    <h6>Protgiendo a las comunidades</h6>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque optio praesentium,
                    </p>
                </div>
            </div>

        </div>
    </div>
</section>
