<!-- Contenido -->
<div class="container">
    <div class="row mt-3 mb-5 mx-5">
        <!-- Breadcrumb -->
        <div class="col-12 pl-0">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb arr-right">
                    <li class="breadcrumb-item" aria-current="page"><strong>Mis vacante</strong></li>
                    <li class="breadcrumb-item" aria-current="page" id="num-vacante"><strong>Vacante No. #</strong></li>
                    <li class="breadcrumb-item active" aria-current="page"><strong>Postulados</strong></li>
                </ol>
            </nav>
        </div>
        <!-- Content -->
        <!-- Lista de postulados -->
        <div class="col-lg-6 pl-0 pr-0 pr-lg-3">
            <h4 class="mb-1">Nombre de la vacante</h4>
            <hr class="mt-0 mb-1">
            <div class="d-flex justify-content-between">
                <h5 class="text-muted">Lista de postulantes</h5>
                <h6 class="text-muted mt-1 mb-0"><label for="psotcont" id="postcont">1 de 10</label></h6>
            </div>
            <div class="lista scrollbar-ripe-malinka border border-secondary">
                {{#each postulados}}
                    {{> minicard}}
                {{/each}}
            </div>
        </div>
        <!-- CV postulado -->
        <div class="col-lg-6 border border-secondary p-0 cv-space">
            {{#each postulados}}
            {{> minicv}}
            {{/each}}
        </div>
    </div>
</div>