<script src="/javascripts/radialprogress.js"></script>
<!---- Contenido ---->
<div class="container">
    <div class="row mt-3 mb-5 mx-5">
        <div class="col-12 pl-0">
            <nav aria-label="breadcrumb" style="background: rgba(0, 0, 0, 0); margin-bottom: 0px; padding-bottom: 3px; padding-left: 3px;">
                <ol class="breadcrumb arr-right">
                    <li class="breadcrumb-item" aria-current="page"><strong>Inicio</strong></li>
                    <li class="breadcrumb-item active" aria-current="page"><strong>Registro</strong></li>
                </ol>
            </nav>
        </div>
        <!--- Porcentaje --->
        <div class="colp col-md-4 bg-white mr-lg-3 d-lg-none d-none d-lg-block d-xl-block py-4 px-5" align="center">
            <p>Actualmente tu hoja de vida esta al:</p>
            <div id="bar" class="mt-3"></div>
            <script>
                var bar = new RadialProgress(document.getElementById("bar"), {
                    progress: 0.15,
                    thick: 5,
                    colorText: "#202020",
                    colorBg: "rgba(0,0,0,.2)",
                    colorFg: "#ff7011",
                    fixedTextSize: 0.25,
                    round: true
                });

            </script>
            <div class="ctn container px-0 border mt-4 w-100">
                <h6 class="text-left pl-2 pt-3 ">¿Porque registrarce en PWEEL?</h6>
                <ul style="color: coral">
                    <li class="text-left"><span style="color: black"><small>Para aplicar a miles de
                                empleos.</small></span></li>
                    <li class="text-left"><span style="color: black"><small>Por la seguridad sin existencia de
                                contratos.</small></span></li>
                    <li class="text-left"><span style="color: black"><small>Encontrar trabajo rapido para periodos
                                cortos o largos.</small></span></li>
                </ul>

            </div>
            {{#if hasErrors}}
            <div class="alert alert-danger">
                {{#each messages}}
                <p>{{this}}</p>
                {{/each}}
            </div>
            {{/if}}
        </div>
        <div class="vl hidden-sm-down d-lg-none d-none d-lg-block d-xl-block"></div>
        <!---- Formulario ---->
        <div class="col-lg-7 col-md-12 ml-md-3 p-5" style="background: rgb(250,250,250)">
            <h3>Crea tu cuenta en PWEEL</h3>
            <p>Todos los campos son obligatorios</p>
            <form action="/user/registro2" method="post">
                <div class="form-group mb-2">
                    <label for="IDType">Tipo de identifición <small>(este campo no es editable, si <br /> tu documento
                            tiene algun error escribenos <br /> en Reportes)</small></label>
                    <select name="IDType" id="IDType" class="form-control w-50">
                        <option value="null" disabled>Selecciona una opción</option>
                        <option value="cedula">Cédula</option>
                        <option value="cedex">Cédula extranjeria</option>
                        <option value="pasaporte">Pasaporte</option>
                    </select>
                </div>
                <div class="form-group w-75">
                    <label for="IDNum">Número de identificación</label>
                    <input type="text" class="form-control" value="{{gnumID}}" placeholder="No. identificación" name="IDNum" id="IDNum">
                    <small class="form-text text-muted">Sin puntos ni comas</small>
                </div>
                <div class="form-group w-75 mt-5 mb-2">
                    <label for="email">Correo electronico</label>
                    <input type="email" class="form-control" value="{{gemail}}" placeholder="correo@correo.com" name="email" id="email">
                </div>
                <div class="form-group w-75">
                    <label for="pass">Crea una contraseña de minimo 6 caracteres</label>
                    <input type="password" class="form-control" name="password" id="password">
                </div>
                <div class="form-group w-75 mt-5 mb-2">
                    <label for="name">Nombres</label>
                    <input type="text" class="form-control" name="name" id="name">
                </div>
                <div class="form-group w-75 mb-2">
                    <label for="lname1">Primer apellido</label>
                    <input type="text" class="form-control" name="lname1" id="lname1">
                </div>
                <div class="form-group w-75 mb-2">
                    <label for="lname2">Segundo apellido</label>
                    <input type="text" class="form-control" name="lname2" id="lname2">
                </div>
                <div class="form-group w-md-75 row">
                    <label for="bday" class="col-12">Fecha de nacimiento</label>
                    <div class="col">
                        <input type="number" class="form-control" placeholder="Día" name="bday" id="bday">
                    </div>
                    <div class="col">
                        <select name="bmonth" id="bmonth" class="form-control w-100">
                            <option value="null" disabled selected>Mes</option>
                            <option value="bjan">Enero</option>
                            <option value="bfeb">Febrero</option>
                            <option value="bmar">Marzo</option>
                            <option value="bapr">Abril</option>
                            <option value="bmay">Mayo</option>
                            <option value="bjun">Junio</option>
                            <option value="bjul">Julio</option>
                            <option value="baug">Agosto</option>
                            <option value="bsep">Septiembre</option>
                            <option value="boct">Octubre</option>
                            <option value="bnov">Noviembre</option>
                            <option value="bdic">Diciembre</option>
                        </select>
                    </div>
                    <div class="col">
                        <input type="number" class="form-control" placeholder="Año" name="byear" id="byear">
                    </div>
                </div>
                <div class="form-group w-75 mb-2">
                    <label for="fijo">¿A qué número te pueden llamar?</label>
                    <input type="text" class="form-control" placeholder="Fijo" name="fijo" id="fijo">
                    <small class="form-text text-muted">Ejm: +57 3334444</small>
                </div>
                <div class="form-group w-75 mb-5">
                    <input type="text" class="form-control" placeholder="Célular" name="cel" id="cel">
                    <small class="form-text text-muted">Ejm: +57 3334444555</small>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input type="checkbox" name="terminos" id="terminos" class="form-check-input mr-2">Acepto <a
                            href="#">Terminos y Condiciones</a> y <a href="#">Aviso de privacidad</a> <br /> del portal.
                    </label>
                </div>
                <input type="hidden" name="_csrf" value="{{ csrfToken }}">
                <button class="btn btn-warning mt-4" type="submit"><strong>Crear cuenta</strong></button>
            </form>
        </div>
    </div>
</div>