body {
    background: url(/images/Home0.jpg);
    background-size: cover;
    height: 100%;
    overflow: hidden;
}

.columna {
    margin-top: 100px;
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 0px 10px 10px 2px rgba(0, 0, 0, 0.3);
}

.vl {
    border-left: 1px solid grey;
}

.vl2 {
    border-left: 1px solid #7c7c7c;
}

.navbar {
    background: rgba(0, 0, 0, 1);
}

@media (max-width: 768px) {
    footer {
        position: relative;
        right: 0;
        bottom: 0;
        left: 0;
        padding: 1rem;
        background-color: whitesmoke;
        text-align: left;
        color: gray
    }
}

@media (min-width: 768px) {
    footer {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        padding: 1rem;
        background-color: whitesmoke;
        text-align: left;
        color: gray;
    }
}

@media (max-height: 700px) {
    footer {
        position: relative;
        right: 0;
        bottom: 0;
        left: 0;
        padding: 1rem;
        background-color: whitesmoke;
        text-align: left;
        color: gray
    }
}

.fter {
    padding-top: 20px;
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 50px;
}

@media (max-width: 770px) {
    .fter {
        padding-top: 2px;
        margin-left: 1%;
        margin-right: 1%;
        margin-bottom: 0px;
    }
}